*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


form{
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: center;
width: 50%;
margin: auto;
margin-top: 3%;
}
form p{
    font-size: 10px;
    font-weight: lighter;
}
input{
    border: 1px solid black;
    font-weight: lighter;
height: 7vh;
width: 100%;

}

@media(max-width:872px){
form{
    width: 40%;
    margin-top: 5%;
}
input{
    font-weight: lighter;
height: 5vh;
width: 100%;
border: 1px solid black;
margin-top: 2%;

}
}

@media(max-width:488px){
    form{
        width: 40%;
        margin-top: 9%;
    }
    input{
        font-weight: lighter;
    height: 5vh;
    width: 100%;
    border: 1px solid black;
    margin-top: 2%;
    
    }
    }
label{
color: black;
font-weight: bolder;

}
button{
    padding: 8px 5px;
    font-weight: bolder;
    background: black;
    border: none;
    color: white;
    border-radius: 25px;
    
}

button:hover{
    background: brown;
    color: white;

}
nav{
    background: white;
    border-bottom: 1px solid black;
    box-shadow: 1px 1px 1px 1px  black;
}

.but_divv{
    display: flex;flex-direction: row;
    justify-content: center;
    gap: 10%;
    margin-bottom: 2%;
    margin-top: 1%;
}
.but_divv button{
    width: 45%;
    border-radius: 5px;
}
#nm{
    background:rgba(169, 169, 169, 0.103);
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}
#mk{
    background:rgba(169, 169, 169, 0.103);
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}

#nm:hover{
    background:rgba(169, 169, 169, 0.603);
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}
#mk:hover{
    background:rgba(169, 169, 169, 0.603);
    font-size: 10px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}

#ml{
    background: rgb(51, 51, 155);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 255, 0.705);
    border: none;
    height: 7vh;
    font-size: 12px;
}

#ml:hover{
    background: rgb(32, 32, 194);
}
@media(max-width:694px){
    h1{
        margin-left: 5%;
        font-size: 20px;
    }
}

.but-div{
    margin-left: 30%;
}








