*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('../Assets/Images/pexels-fwstudio-33348-164005.jpg');
    background-size:cover;
}

form{
margin-top: 3%;
flex-direction: column;
border: 3px solid black;
padding: 1%;
border-radius: 5px;
display: flex;
justify-content: center;
}
input{
    font-weight: bolder;

}


label{
color: black;
font-weight: bolder;

}
button{
    padding: 8px 5px;
    font-weight: bolder;
    background: black;
    border: none;
    color: white;
    border-radius: 25px;
    
}

button:hover{
    background: brown;
    color: white;

}
nav{
    background-image: url('../Assets/Images/pexels-lydia-bond-698937-1550618.jpg');
    background-size: cover;
    /* background-size: 100%; */
}

@media(max-width:694px){
    h1{
        margin-left: 5%;
        font-size: 20px;
    }
}

.but-div{
    margin-left: 30%;
}







