
#jk{
font-size: 20px;
list-style: none;
font-weight: lighter;
color: white;
}
#lB{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.choice {
    display: none;
}


.radio-label {
    display: inline-block;
    position: relative;
    padding-left: 2%; 
    cursor: pointer;
    background-color: #000; 
    border: 1px solid rgba(8, 109, 224, 0.616);
    margin-top: 1%;
    color: white;

}


.choice + .radio-label:before {
    content: '';
    display: inline-block;
    width: 16px; 
    height: 16px; 
    border: 2px solid #ccc; 
    border-radius: 50%; 
    margin-right: 10px; 
    background-color:  yellow; 

}

.choice:checked + .radio-label:before {
    background-color:  brown; 
    border-color: blue;
}



section{
border: 1px solid black;
max-width: 600px;
margin: auto;
background-image: url('./Images/pexels-mastercowley-1128797.jpg');
background-size: cover;
font-family: monospace;
box-shadow: 1px 1px 1px 1px  blue;
    
}

#h1{
    text-align: center;
    color:white;
    border-bottom: 1px solid deepskyblue;
    background-image: url('./Images/pexels-pixabay-207178.jpg');
    background-size: cover;
}

.result{
    text-align: center;
    font-weight: lighter;
    border: 3px solid white;
    padding: 1%;
    background: white;

}
.conditionseven{
    text-align: center;
    font-weight: lighter;
}
.gradeT{
    border: 1px solid deepskyblue;
    background-image: url('./Images/pngtree-abstract-light-colored-paint-texture-background-wallpaper-image_13802780.png');
    background-size: cover;
    color: black;
    text-align: center;
}
.result-total{
    text-align: center;
    font-weight: lighter;
    border: 3px solid white;
    padding: 1%;
    background: white;

}

.condition{
    text-align: center;
    font-weight: normal;
    background: rgba(231, 62, 62, 0.925);
}
.conditiontwo{
    text-align: center;
    font-weight: normal;
    background: greenyellow;

}
.conditionthree{
    text-align: center;
    font-weight: normal;
    background: greenyellow;;

}
.conditionfour{
    text-align: center;
    font-weight: normal;
    background: greenyellow;;
}
.conditionfive{
    text-align: center;
    font-weight: normal;
    background: greenyellow;
}
.conditionsix{
    text-align: center;
    font-weight: normal;
    color: black;
    background: greenyellow;
}
.total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    background-image: url('./Images/pexels-iriser-1379640.jpg');
    background-size: cover;
    color:blue;
}
span{
    color: deepskyblue;
}
#sel{
    color: black;
    margin-left:1%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-weight: normal;
    font-size: 22px;
}


@media print {
    body * {
        visibility: hidden;
    }
    #sectionToPrint, #sectionToPrint * {
        visibility: visible;
    }
}
.but_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.quizNav{
    background-image: url('../Assets/Images/pexels-lydia-bond-698937-1550618.jpg');
    background-size: cover;
}
.secB{
    margin :4% 4%;
    border: 1px solid lightgreen;
    padding: 1%;
    background-image:url('./Images/pngtree-abstract-light-colored-paint-texture-background-wallpaper-image_13802780.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#next-button{
    background: #000;
    color: white;
    height: 30px;
    font-size: 17px;
    font-weight: bolder;
border: none;
}
#next-button:hover{
    background:deepskyblue;
    color: white;
    height: 30px;
    font-weight: bolder;
    font-size: 17px;
border: none;

}
.but-divv{
    display: flex;
    justify-content: center;
}
.allcont1{
    background-image:url('./Images/pexels-pixabay-68507.jpg');
    background-size: cover;
}
.allcont{
    background-image:url('./Images/pexels-steve-1704119.jpg');
    background-size: cover;
}
.check-but{
    display: flex;
    justify-content: center;
}
.check-but button{
    background: black;
    border:1px solid blue;
    color:white;
    padding: 1%;
}
.check-but button:hover{
    background: deepskyblue;
    border:1px solid blue;
    padding: 1%;
}
.thre{
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: center;
}
.thro{
border: 1px solid black;
background-image: url('./Images/images\ \(1\).jpeg');
background-size: cover;
color: white;
}
.thr{
    border: 1px solid black;
    background-image: url('./Images/images\ \(1\).jpeg');
    background-size: cover;
    color: white;
    }


.styled-list-item {
color: blue;  
margin-top: 2%;
font-size: 20px; 
padding: 10px;  
background-color: #f0f0f0;  
border: 1px solid #ccc;  
text-align: center;
}