
#jk{
font-size: 26px;
list-style-type: none;
font-weight: lighter;
    }
section{
border: 1px solid black;
max-width: 600px;
margin: auto;
font-family: monospace;
box-shadow: 2px 2px 2px 2px  blue;
    
}

h1{
    text-align: center;
    color: blue;
}

.result{
    text-align: center;
    font-weight: lighter;
    border: 3px solid white;
    padding: 1%;
    background: white;

}
.conditionseven{
    text-align: center;
    font-weight: lighter;
}
.gradeT{
    border: 1px solid rgb(0, 255, 0);
    background: rgb(0, 255, 0);
    color: white;
}
.result-total{
    text-align: center;
    font-weight: lighter;
    border: 3px solid white;
    padding: 1%;
    background: white;

}

.condition{
    text-align: center;
    font-weight: normal;
    background: rgba(255, 0, 0, 0.911);
}
.conditiontwo{
    text-align: center;
    font-weight: normal;
    background: greenyellow;

}
.conditionthree{
    text-align: center;
    font-weight: normal;
    background: greenyellow;;

}
.conditionfour{
    text-align: center;
    font-weight: normal;
    background: greenyellow;;
}
.conditionfive{
    text-align: center;
    font-weight: normal;
    background: greenyellow;
}
.conditionsix{
    text-align: center;
    font-weight: normal;
    color: black;
    background: greenyellow;
}
.total{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1%;
    background: black;
    color:blue;
}
span{
    color: blue;
}